<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% if title %}
    <title>Weka - {{ title }}</title>
    {% else %}
    <title>Weka</title>
    {% endif %}

</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #222;">
            <div class="container">

                <a class="navbar-brand mr-4" href="/">
                    <i class="fa fa-cogs fa-spin" width="30" height="30" class="d-inline-block align-top"></i> Weka
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link {% if active == 'preprocess' %} active {% endif %}" href="{{ url_for('preprocess') }}">Preprocess</a>
                        <a class="nav-item nav-link {% if active == 'classify' %} active {% endif %}" href="{{ url_for('classify') }}">Classify</a>
                        <a class="nav-item nav-link {% if active == 'visualize' %} active {% endif %}" href="{{ url_for('visualize') }}">Visualize</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">

                        <a class="nav-item nav-link" href="">New</a>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav bg-dark" style="margin-top: 56px;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form id="myForm" method="POST" action="/classify" enctype="multipart/form-data">
            <label>Classifier</label><br>
            <select name="classifier">
            <option value="0">Logistic</option>
            <option value="1">Naïve-Bayes Classifier</option>
            <option value="2">Linear-SV Classifier</option>
        </select><br><br>

            <label>Choose Test Method</label><br>
            <select name="chooseTestMethod" onchange="create(this.value)">
            <option disabled selected>Choose</option>
            <option value="0">Upload Test</option>
            <option value="1">Split Dataset</option>
            <option value="2">Provide Cross Validation</option>
        </select><br><br>

            <div id="choiceDiv" name="choiceDiv"></div><br><br>

            <label>Perform Scaling?</label> &nbsp;<input type="checkbox" id="scale" name="scale" onchange="update(0)" /><br><br>
            <input type="hidden" name="scale_hidden" id="scale_hidden" value="0" />

            <label>Perform Encoding?</label> &nbsp;<input type="checkbox" id="encode" name="encode" onchange="update(1)" /><br><br>
            <input type="hidden" name="encode_hidden" id="encode_hidden" value="0" />

            <button type="submit">Start</button>

        </form><br>
    </div>

    <!-- Use any element to open the sidenav -->
    <span onclick="openNav()">open</span>
    <main id="main" role="main" class="container">
        <div class="row">
            <div class="col-lg-12">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
</body>

</html>